{% extends "base.html" %}

{% block announce %}
For updates follow on
<a href="https://twitter.com/complightlab" style="color:#1da1f2;">
<span class="twemoji x">
{% include ".icons/fontawesome/brands/x.svg" %}
</span>
<strong>complightlab</strong> 
</a> and

<a href="https://www.linkedin.com/groups/10023108/" style="color:#1da1f2;">
<span class="twemoji linkedin">
{% include ".icons/fontawesome/brands/linkedin.svg" %}
</span>
<strong>Computational Light Laboratory</strong> 
</a> and

<a href="https://bsky.app/profile/complightlab.bsky.social" style="color:#1da1f2;">
<span class="twemoji linkedin">
{% include ".icons/fontawesome/brands/bluesky.svg" %}
</span>
<strong>complightlab.bsky.social</strong> 
</a>

{% endblock %}
