
site_name: Computational Light Laboratory at University College London
site_description: Computational Light Laboratory at University College London
site_author: Kaan Akşit
site_url: 'https://complightlab.com'

repo_name: complight
repo_url: 'https://github.com/complight'

copyright: 'Copyright &copy; 2024'

nav:
  - Home:
    - Welcome: 'index.md'
    - Recent news: 'timeline/index.md'
    - List of publications: 'publications/index.md'
    - Current members and alumni: 'people/index.md'
    - Courses: 'teaching/index.md'
    - Outreach: 'outreach/index.md'
    - Our toolkit: 'https://kaanaksit.com/odak'
  - People:
    - Current members and alumni: 'people/index.md'
    - Kaan Akşit: 'https://kaanaksit.com'
    - Yicheng Zhan: 'https://github.com/AlberTgarY'
    - Ziyang Chen: 'https://www.linkedin.com/in/ziyang-chen-064ba8173/'
    - Zicong Peng: 'https://scholar.google.com/citations?user=lpi8DvIAAAAJ&hl=zh-CN'
    - Henry Kam: 'http://gulpinhenry.github.io/'
    - Chuanjun Zheng: 'https://scholar.google.com.hk/citations?user=9Jk_LC8AAAAJ&'
  - Timeline: 
    - Recent news: 'timeline/index.md'
    - Highlighted events:
      - 'Computational Light Laboratory contributes to ACM SIGGRAPH Asia 2024 with innovative computational display and lensless camera research' : 'documentation/siggraph_asia_2024.md'
  - Publications:
    - List of publications: 'publications/index.md'
    - Highlighted works:
      - 'Assessing Learned Models for Phase-only Hologram Compression': 'publications/assess_hologram_compression.md'
      - 'Focal Surface Holographic Light Transport using Learned Spatially Adaptive Convolutions': 'publications/focal_surface_light_transport.md'
      - 'SpecTrack: Learned Multi-Rotation Tracaking via Speckle Imaging': 'publications/spec_track.md'
      - 'Autocolor: Learned Light Power Control for Multi-Color Holograms': 'https://complightlab.com/autocolor_'
      - 'Multi-color Holograms Improve Brightness in Holographic Displays': 'publications/multi_color.md'
      - 'HoloBeam: Paper-Thin Near-Eye Displays': 'publications/holobeam.md'
      - 'Realistic Defocus for Multiplane Computer-Generated Holography': 'publications/realistic_defocus_cgh.md'
      - 'ChromaCorrect: Prescription Correction in Virtual Reality Headsets through Perceptual Guidance': 'https://complightlab.com/ChromaCorrect'
      - 'Optimizing Vision and Visuals: Lectures on Cameras, Displays and Perception': 'teaching/siggraph2022_optimizing_vision_and_visuals.md'
  - Teaching:
    - Courses: 'teaching/index.md'
    - Computational Light (Spring 2024): 'https://kaanaksit.com/odak/course/'
    - SIGGRAPH 2022 Optimizing Vision and Visuals (Summer 2022):
      - Description: 'teaching/siggraph2022_optimizing_vision_and_visuals.md'
      - Secret link: 'lectures/index.md'
    - COMP0160 Perception and Interfaces (Spring 2022):
      - Description: 'teaching/comp0160_perception_and_interfaces.md'
      - Coursework 1: 'teaching/comp0160_coursework_1.md'
      - Practical: 'teaching/comp0160_practical.md' 
    - COMP088 Introduction to Machine Learning (Winter 2023):
      - How to setup your virtual environment using Visual Studio: 'https://youtu.be/SHdEqM5xydo'
      - How to implement Gradient Descent solver using Numpy: 'https://youtu.be/-ilAaJlUvYI'
      - How to compile your first Perceptron using Numpy: 'https://youtu.be/ENpJoyDc1rg'
      - How to compile your first model in PyTorch: 'https://youtu.be/PunWQMssqPU'
  - Documentation:
    - List: 'documentation/index.md'
    - For candidates:
      - Become a doctoral student: 'documentation/become_phd_student.md'
    - For newcomers:
      - Welcome aboard!: 'documentation/getting_started.md'
      - Our laboratory's logo: 'documentation/logo.md'
      - Explore our completed projects: 'https://complightlab.com/publications/'
      - Explore our codebase: 'https://github.com/complight'
      - Explore our toolkit: 'https://github.com/kaanaksit/odak'
      - Explore our printable designs: 'https://github.com/complight/optomechanics'
      - Learn more about computer-generated holography: 'https://kaanaksit.github.io/odak/cgh/'
      - Tips and tricks for using our 3D printer: 'documentation/3d_printing.md'
    - Technical notes:
      - Creating a virtual environment for Python Development: 'documentation/computing/creating_a_virtual_environment_for_Python_development.md'
      - How to change name server on Ubuntu permanently: 'documentation/computing/how_to_change_name_server_on_ubuntu_permanently.md'
      - How to copy or restore tmux settings: 'documentation/computing/how_to_copy_or_restore_tmux_settings.md'
  - Outreach:
    - Description: 'outreach/index.md'
    - Join our Slack channels: 'https://join.slack.com/t/rpcdrendering-m4b9370/shared_invite/zt-13b5caruu-o7Ra99nEXkntnJqVYJTVdg'
    - Join our mailing List: 'https://www.mailinglists.ucl.ac.uk/mailman/listinfo/high-beams-seminars'
  - Toolkit: 'https://kaanaksit.com/odak'


theme:
    name: material
    custom_dir: overrides
    logo: logo/logo.png
    favicon: logo/logo.png
    icon:
      logo: logo
    language: en
    features:
        - content.code.annotate
        - content.tabs.link
       # - header.autohide
       # - navigation.expand
       # - navigation.instant
        - navigation.sections
        - navigation.tabs
       # - navigation.tabs.sticky
        - navigation.top
        - navigation.tracking
        - search.highlight
        - search.share
        - search.suggest
       # - toc.integrate
        - navigation.instant
        - navigation.indexes
        - navigation.top
        - navigation.expand
        - navigation.footer
    palette:
      - scheme: youtube
        toggle:
          icon: material/brightness-7
          name: Switch to dark mode
      - scheme: slate
        toggle:
          icon: material/brightness-4
          name: Switch to light mode
    highlightjs: true
    hljs_languages:
        - python

plugins:
   - redirects:
       redirect_maps:
           'assess_hologram_compression.md': 'publications/assess_hologram_compression.md'
           'lectures/index.md': 'teaching/siggraph2022_optimizing_vision_and_visuals.md'
   - search
   - bibtex:
       bib_file: "docs/references.bib"
   - mkdocstrings
   - autorefs
   - glightbox:
       touchNavigation: true
       loop: false
       effect: zoom
       slide_effect: slide
       width: 100%
       height: auto
       zoomable: true
       draggable: true
       skip_classes:
         - custom-skip-class-name
       auto_caption: false
       caption_position: bottom

markdown_extensions:
   - toc:
       permalink: true
   - footnotes
   - admonition
   - attr_list
   - md_in_html
   - pymdownx.superfences
   - pymdownx.details
   - pymdownx.arithmatex:
       generic: true
   - pymdownx.emoji:
       emoji_index: !!python/name:material.extensions.emoji.twemoji
       emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - 'javascripts/config.js'
  - 'https://polyfill.io/v3/polyfill.min.js?features=es6'
  - 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/complightlab
    - icon: fontawesome/brands/slack
      link: https://join.slack.com/t/rpcdrendering-m4b9370/shared_invite/zt-13b5caruu-o7Ra99nEXkntnJqVYJTVdg


extra_css:
  - stylesheets/extra.css
  - stylesheets/card.css
